
body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-repeat: repeat;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
  position: absolute !important;
  width: 100%;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(255, 62, 28, 0.5);
  background: -moz-linear-gradient(left, rgba(255, 62, 28, 0.5) 0%, rgba(255, 140, 0, 0.5) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 62, 28, 0.5)), color-stop(100%, rgba(255, 140, 0, 0.5)));
  background: -webkit-linear-gradient(left, rgba(255, 62, 28, 0.5) 0%, rgba(255, 140, 0, 0.5) 100%);
  background: -o-linear-gradient(left, rgba(255, 62, 28, 0.5) 0%, rgba(255, 140, 0, 0.5) 100%);
  background: -ms-linear-gradient(left, rgba(255, 62, 28, 0.5) 0%, rgba(255, 140, 0, 0.5) 100%);
  background: linear-gradient(to right, rgba(255, 62, 28, 0.5) 0%, rgba(255, 140, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3e1c', endColorstr='#ff8c00', GradientType=1 );



}

.slika
{
   width:220px;
  height:200px;
  margin:5px;
  float:right;

}
.link{
  float:left;
  text-decoration: underline;
  margin-left:2px;
}
.link:hover, .link:visited
{
  color:darkolivegreen;
}
.reserved
{
  float:right;
  font-size: 16px;
  color:darkslategrey;
}
@media screen and (max-width: 130px) {
  .slika {
    float:right;
   width:40%;
   height:40%;
  }
}
@media screen and (max-width: 650px) {
  .fh5co-cover{
    background-repeat:repeat-y;
  }
}
.opis{
  text-align:justify;
  float:left;
  width:45%;
  font-size:14px;
  line-height:normal;
}

.bookDugme, .reserve
{
  background: #F78536;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
  float:left;
  border: 1px solid red !important;
  opacity: 1;
  border: 2px solid #fff !important;
  color: #fff !important;
  letter-spacing: 1px !important;
  font-weight: 400 !important;
  border-radius:3px;

}
 .bookDugme:hover {
  color:darkslategray;
}
.slikaSlideshow
{
  width:50%;
  height:40%;
  margin:10px;
  border-radius:5px;
}
.opisSlike
{
  width:40%;
  height:auto;
  float:left;
  color:darkslategrey;
}

.myModal, .myModal2
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}


.modal-content, .modal-content2 {
  background-color: sandybrown;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-content
{
  width:40%;
  height:50%;
}
.modal-content2
{
  border-radius:7px;
  overflow:hidden;
  color:white;
}
.desnoModal
{
  float:right;
  top:0;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.inputIme
{
  margin-left:33px;
}
 .inputPrezime
{
  margin-left:35px;
}
.inputEMail
{
  margin-left: 2px;
}
.inputPhone{
  margin-left:4px;
}
.divHotel{
 height:320px;
 width:100%;
 margin: 5px;
 padding:2px;
 margin-right:0.5px;
 
}
@media screen and (max-width: 1120px) {
  .divHotel{
    float:left;
   width:50%;
   height:auto;
   
  }
}
.divDesno{
 color:darkslategray;
  border-radius:2%;
  float:left;
  width:100%;
  height:auto;
  background-color: lightyellow;
  margin-top:0px;
  overflow-x:hidden;

  
}
.fh5co-hero
{
  height:1200px;
}
.hr{
  margin-top:1px;
  border:darkslategray;
}


.kontejnerDesno{
  
  width:55%;
  height:auto;
  overflow: auto;
}
@media screen and (max-width: 1120px) {
  .kontejnerDesno,
  .divHotel {
    float:left;
   width:100%;
  }
}
 

body.fh5co-offcanvas {
  overflow: hidden;
  background-repeat:repeat-y;
  background-image: url("gradd.jpg");
 
}

a {
  color: #F78536;
  -webkit-transition: 0.5s, ease;
  -o-transition: 0.5s, ease;
  transition: 0.5s, ease;
}
a:hover {
  text-decoration: none;
  color: #F78536;
}

p, ul, ol {
  margin-bottom: 1.5em;
  font-size: 16px;
  color: #848484;
  font-family: "Open Sans", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #5a5a5a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

figure {
  margin-bottom: 2em;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #F78536;
}

::-moz-selection {
  color: #fcfcfc;
  background: #F78536;
}
.neka{
  border-radius: 10%;
}
::selection {
  color: #fcfcfc;
  background: #F78536;
}

#fh5co-header {
  position: relative;
  margin-bottom: 0;
  z-index: 9999999;
}


@media screen and (max-width: 768px) {
  .header-top .fh5co-social {
    text-align: center !important;
  }
}

.fh5co-cover,
.fh5co-hero {
  position: relative;
  height: 786px;
}
@media screen and (min-height: 768px) {
  .desc {
    height: 700px;
    background-image: url("slike/crystal.jpg");
    background-repeat: repeat-y;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-cover,
  .fh5co-hero {
    height: 700px;
  }
}

.sticky-banner
{
  height:10%;
  background-color:white;
}


@media screen and (max-width: 768px) {
  .fh5co-cover {
    height: inherit;
    padding: 3em 0;
  }
}
.fh5co-cover .btn {
  padding: 1em 2em;
  opacity: .9;
}
.fh5co-cover.fh5co-cover_2 {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .fh5co-cover.fh5co-cover_2 {
    height: inherit;
    padding: 3em 0;
  }
}

.fh5co-cover .desc {
  top:20%;
  position: absolute;
  width: 100%;
  margin-top: -80px;
  z-index: 2;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .desc {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.fh5co-cover .desc h2 {
  color: #fff;
  font-size: 60px;
  margin-bottom: 10px;
  font-weight: 400 !important;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .desc h2 {
    font-size: 40px;
  }
}
.fh5co-cover .desc h3 {
  color: #fff;
}
.fh5co-cover .desc p {
  display: block;
  margin-bottom: 30px;
  font-size: 16px;
  letter-spacing: 1px;
  color:lightslategray;
}
.fh5co-cover .desc p a {
  color: #fff;
}
.fh5co-cover .desc p a:hover, .fh5co-cover .desc p a:focus {
  color: #fff !important;
}
.fh5co-cover .desc p a:hover.btn, .fh5co-cover .desc p a:focus.btn {
  border: 2px solid #fff !important;
  background: transparent !important;
}
.fh5co-cover .desc p a.fh5co-site-name {
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.fh5co-cover .desc .price {
  font-size: 60px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .desc .desc2 {
    display: none;
  }
}



.tabulation {
  border-radius:2%;
  padding:20px;
  padding-top: 0px;
  width: 100%;
  float: left;
 
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  -ms-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  -o-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
}
.tabulation label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .tabulation label {
    width: 40%;
  }
}
.tabulation input[type="text"] {
  background: rgba(0, 0, 0, 0.05);
  border: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #F78536 !important;
}

@media screen and (max-width: 480px) {
  .tabulation input[type="text"] {
    width: 55%;
    float: right;
  }
}
@media screen and (max-width: 480px) {
  .tabulation .cs-select {
    width: 55%;
    float: right;
  }
}

.tab-content {
  padding: 30px;
}
.tab-content .btn {
  border: 1px solid red !important;
}


.mt {
  margin-bottom: 20px;
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #F78536;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #F78536;
  color: #fff !important;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}
.btn.btn-outline {
  background: transparent;
  color: #F78536;
  border: 2px solid #F78536 !important;
}
.btn.btn-outline:hover, .btn.btn-outline:focus, .btn.btn-outline:active {
  background: #F78536 !important;
  color: #fff !important;
}

.tab-content .btn {
  letter-spacing: 0;
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
}

